<div class="main-container">
    <div class="login-container mat-elevation-z8">
        <div class="text">
            <div class="content">
                
            </div>
        </div>
        <div class="login">
            <div class="content">
                <p class="title">Roll Call System</p>
                <!-- <mat-divider></mat-divider> -->
                <p></p>
                
                <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                    <!-- <mat-form-field class="full-width "> -->
                        <input placeholder="Email" formControlName="email" [(ngModel)]="email">
                   <!--  </mat-form-field> -->
                    <mat-error *ngIf="loginForm.controls.email.touched && !loginForm.controls.email.valid">
                        Please input a valid email
                    </mat-error>

                    <!-- <mat-form-field class="full-width"> -->
                        <input type="password" placeholder="Password" formControlName="password" [(ngModel)]="password">
                    <!-- </mat-form-field> -->
                    <div >
                        <button type="submit" class="login-button mat-elevation-z8" >Login</button>
                    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
